header {
  height: 60px;
  width: 100vw;
  background-color: red;
}

#menu {
  width: 240px;
  height: calc(100vh - 60px);
  background-color: green;
  display: none
}

#container {
  display: flex;
  flex-direction: row;
}

#main {
  flex: 1;
  background-color: yellow;
}
#first {
  display: grid;
  grid-template-columns: 1fr;
  padding: 12px;
  gap: 12px;
  /* column-gap: 12px; */
  /* row-gap: 12px; */
}
.students {
  background-color: black;
  height: 200px;
  /* width: 200px; */
}

/* mobile first, desktop first */

@media only screen and (min-width: 320px) { /* breakpoints */
  #first {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 480px) {
  #first {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  #first {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}